*{
    box-sizing: border-box;
}

@media screen and (max-width:768px){
    .container{
        display: flex;
        flex-direction:column;
        text-align: center;
        
    }
    .flex-item{
        margin-top:10px;
    }
    #nameLabel{
        visibility: hidden;
        position:absolute;
    }
    #dateLabel{
        visibility: hidden;
        position:absolute;
    }

    .app{
        width:100%;
        background-color: #F15412;
        height:600px;
        overflow-y: scroll;
        position: relative;
    
    }
   
    header{
        height:30%;
        padding:10px;
        position: relative;
        border-radius:0 0 100px 0;
        background-color: #ffffffa2;
        text-align: center;
        
    
    
    }
    h2{
        margin:0px 40px;
        padding:10px;
        font-size:30px;
        
    }
    
    
    input{
        width: 50%;
        border: none;
        border-radius: 0 10px 0 10px;
        height: px;
        margin-left: 10px;
        padding:10px;
        background-color: rgba(255, 255, 255, 0.129);
        font-size: large;
    }
    
    #add1{
        height:45px;
        width:100px;
        border-radius: 0 10px 0 10px;
        opacity: 1;
        border: none;
        background-color: #ffffff;
        cursor: pointer;
        margin: 10px;
        font-weight: bolder;
    }
    #add1:hover{
        background-color: #bbb5b398;
        cursor: pointer;
    }
    #error-msg{
        color:rgb(255, 255, 255);
        font-size: small;
        position: absolute;
        bottom: 125px;
        visibility:hidden;
        margin-left:10px;
    }
    
    .tasks{
        height: 100%;
         border-radius: 100px 0 0 0;
         padding: 0 0 10px 20px;
         position:relative;
         background-color: rgba(249, 249, 249, 0.631);
         
     }
     .newTask{
         background-color:whitesmoke;
         border-radius: 0 30px 0 30px;
         padding:10px 0 1px 10px;
         margin:0 65px 15px 60px;
         height:70px;
         max-width: 500px;
     }
     
     .newTask:hover{
         background-color:rgba(249, 249, 249, 0.631);

}

#taskName{
    margin: 0;
    font-weight:bolder;
}

#dueDate{
    color:grey;
    font-size: small;
}
.options{
    position: relative;
}
.fa-circle{
    position:absolute;
    bottom:40px;
    left:-35px;
    font-size: larger;
    cursor: pointer;
    
}
.fa-circle:hover{
    color:grey;
}

.completed{ /*applied when the cicle in clicked*/
    text-decoration: line-through;
    opacity: 0.5;
    transition: all 0.5s ease;
}

.fa-trash{
    position:absolute;
    right:10px;
    bottom:5px;
    cursor:pointer;
    font-size: larger;

}
.fa-trash:hover{
    color:grey;
}

.fa-pen-to-square{
    position: absolute;
    right:30px;
    bottom:5px;
    cursor: pointer;
    font-size: larger;
}
.fa-pen-to-square:hover{
    color:grey;
}

}

@media screen and (min-width:768px) and (max-width:992px){ /*devices between 768px and 992px */
    
    .container{
        display: flex;
        flex-direction:row;
    }

    .input{
        flex:1;
    }
   
    .app{
        width:100%;
        background-color: #F15412;
        height:600px;
        overflow-y: scroll;
        position: relative;
       
    
    }
    header{
        height:30%;
        padding:10px;
        position: relative;
        border-radius:0 0 100px 0;
        background-color: #ffffffa2;
        text-align: center;
        
    
    
    }
    h2{
        margin:10px 40px;
        padding:10px;
        font-size:30px;   
    }

    input{
        width:90%;
        border: none;
        border-radius: 0 10px 0 10px;
        height: 40px;
        padding:10px;
        background-color: rgba(255, 255, 255, 0.129);
    
    }
    
    #add1{
        height:60px;
        width:150px;
        border-radius: 0 10px 0 10px;
        opacity: 1;
        border: none;
        background-color: #ffffff;
        cursor: pointer;
        font-weight: bolder;
    }
    #add1:hover{
        background-color: #bbb5b398;
        cursor: pointer;
    }
    #nameLabel{
        position: absolute;
        left:5px;
        top:-30px;
        padding:0px;
        opacity: 0.7;
        margin-top: 10px;
    }
    
    #dateLabel{
        position: absolute;
        left: 310px;
        top:50px;
        opacity: 0.7;
    
    }
    #error-msg{
        color:rgb(255, 255, 255);
        font-size: small;
        position: absolute;
        left: 100px;
        top:45px;
        visibility: hidden;
    }
    
    .tasks{
       height: 100%;
        border-radius: 100px 0 0 0;
        padding: 0 0 10px 20px;
        position:relative;
        background-color: rgba(249, 249, 249, 0.631);
        
    }
    .newTask{
        background-color:whitesmoke;
        border-radius: 0 30px 0 30px;
        padding:10px 0 1px 10px;
        margin:0 65px 15px 60px;
        height:70px;
        max-width: 500px;
    }
    
    .newTask:hover{
        background-color:rgba(249, 249, 249, 0.631);
    }
    #taskName{
        margin: 0;
        font-weight:bolder;
    }
    
    #error-message{
        margin: 0;
        font-size:small;
        color:red;
    }
    
    #dueDate{
        color:grey;
        font-size: small;
    }
    .options{
        position: relative;
    }
    .fa-circle{
        position:absolute;
        bottom:40px;
        left:-35px;
        font-size: larger;
        cursor: pointer;
        
    }
    .fa-circle:hover{
        color:grey;
    }
    
    .completed{ /*applied when the cicle in clicked*/
        text-decoration: line-through;
        opacity: 0.5;
        transition: all 0.5s ease;
    }
    
    .fa-trash{
        position:absolute;
        right:10px;
        bottom:5px;
        cursor:pointer;
        font-size: larger;
        
    
    }
    .fa-trash:hover{
        color:grey;
    }
    
    .fa-pen-to-square{
        position: absolute;
        right:30px;
        bottom:5px;
        cursor: pointer;
        font-size: larger;
    }
    .fa-pen-to-square:hover{
        color:grey;
    }

}

@media screen and (min-width:992px){/*devices form 992px and above*/
   
    .container{
        display: flex;
        flex-direction:row;
    }

    .input{
        flex:1;
    }
   
    .app{
        width:100%;
        background-color: #F15412;
        height:600px;
        overflow-y: scroll;
        position: relative;
    }
    header{
        height:30%;
        padding:10px;
        position: relative;
        border-radius:0 0 100px 0;
        background-color: #ffffffa2;
        text-align: center;
        
    
    
    }
    h2{
        margin: 10px 40px;
        padding:10px;
        font-size:30px;
        
    }

    input{
        width:90%;
        border: none;
        border-radius: 0 10px 0 10px;
        height: 40px;
        padding:10px;
        background-color: rgba(255, 255, 255, 0.129);
    
    }
    
    #add1{
        height:60px;
        width:150px;
        border-radius: 0 10px 0 10px;
        opacity: 1;
        border: none;
        background-color: #ffffff;
        cursor: pointer;
        font-weight: bolder;
    }
    #add1:hover{
        background-color: #bbb5b398;
        cursor: pointer;
    }
    #nameLabel{
        position: absolute;
        left:5px;
        top:-30px;
        padding:0px;
        opacity: 0.7;
        margin-top: 10px;
    }
    
    #dateLabel{
        position: absolute;
        left: 480px;
        top:50px;
        opacity: 0.7;
    
    }
    #error-msg{
        color:rgb(255, 255, 255);
        font-size: medium;
        position: absolute;
        left: 200px;
        top:45px;
        visibility: hidden;
    }
    
    .tasks{
       height:100%;
        border-radius: 100px 0 0 0;
        padding: 0 0 10px 20px;
        position:relative;
        background-color: rgba(249, 249, 249, 0.631);
        
    }
    .newTask{
        background-color:whitesmoke;
        border-radius: 0 30px 0 30px;
        padding:10px 0 1px 10px;
        margin:0 65px 15px 60px;
        height:70px;
        max-width: 500px;
    }
    
    .newTask:hover{
        background-color:rgba(249, 249, 249, 0.631);
    }
    #taskName{
        margin: 0;
        font-weight:bolder;
    }
    
    #dueDate{
        color:grey;
        font-size: small;
    }
    .options{
        position: relative;
    }
    .fa-circle{
        position:absolute;
        bottom:40px;
        left:-35px;
        font-size: larger;
        cursor: pointer;
        
    }
    .fa-circle:hover{
        color:grey;
    }
    
    .completed{ /*applied when the cicle in clicked*/
        text-decoration: line-through;
        opacity: 0.5;
        transition: all 0.5s ease;
    }
    
    .fa-trash{
        position:absolute;
        right:10px;
        bottom:5px;
        cursor:pointer;
        font-size: larger;

    }
    .fa-trash:hover{
        color:grey;
    }
    
    .fa-pen-to-square{
        position: absolute;
        right:30px;
        bottom:5px;
        cursor: pointer;
        font-size: larger;
    }
    .fa-pen-to-square:hover{
        color:grey;
    }
    


}